body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("bg2.png")
}

div {
    padding: 40px;
    background-color: wheat;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
   margin-bottom: 20px; 
}

input:last-child {
    margin-bottom: 0;
}
